<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h2><%= title %> - Lab6</h2>
    <a href="/newsletter">Subscribe</a>
  </body>
</html>