<!DOCTYPE html>
<html>
  <head>
    <title>Thanks</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h2>Thank you for Subscribing...</h2>
    <p>Your email [ <%= email %> ] has been added successfully to our subscribers list.</p>
  </body>
</html>